@charset "utf-8";
/* CSS Document */
body {
  background-color: #f6f5ef;
  margin: 0;
  height: 2000px;
}

/*.logo {
  position: absolute;
  left: 300px;
}*/

header{  position: fixed;
	  z-index: 99;
	width:100%;
	height: 100px;
  display: flex;
  align-items: center;
  background-color: #f6f5ef;
	  justify-content: center;
}
nav {


  width: 60%;
  height: 100px;
  display: flex;
  align-items: center;
  background-color: #f6f5ef;
  justify-content: space-between;
}

ul#nav_container {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #f6f5ef;
}

nav li {
  float: left;
  font-size: 1.5em;
  font-family: sans-serif;
}

nav li a {
  display: block;
  color: #662d91;
  text-align: center;
  padding: 25px 40px 25px 40px;
  text-decoration: none;
}

nav li a:hover {
  background-color: ghostwhite;
	border-radius: 15px;
}

h3 {
  position: absolute;
  top: 800px;
  left: 550px;
  font-family: sans-serif;
  font-size: 2em;
  font-weight: bold;
  color: #f1592a;
}

.article01 {
  background: url("../images/06.jfif") fixed;
  height: 750px;
  background-size: cover;
}
#coach {
  position: absolute;
  top: 50px;
  left: 10px;
  height: auto;
  width: 400px;
  font-family: sans-serif;
}

#coach td {
  border-bottom: 1px solid #ddd;
  padding: 10px;
  font-size: 20px;
  color: #662d91;
}

#coach tr:hover {
  background-color: rgba(221,195,236,1.00);
}

#premiere {
  height: auto;
  width: 400px;
  font-family: sans-serif;

}

#premiere td {
  border-bottom: 1px solid #ddd;
  padding: 10px;
  font-size: 20px;
  color: #662d91;
}

#premiere tr:hover {
  background-color: #f1592a;
}

h4 {text-align: center;
  font-family: sans-serif;
  font-size: 1.5em;
  font-weight: bold;
  color: #f1592a;
}

.section01 {
  position: absolute;
  top: 950px;
  left: 400px;
  width: 600px;
  height: 800px;
}

.aside01 {
  position: absolute;
  top: 950px;
  right: 250px;
  width: 600px;
  height: 800px;
}

footer {
  position: absolute;
  top: 1820px;
  width: 1903px;
  height: 190px;
  background-color: #f1592a;
  display: flex;
	justify-content:center;
	align-items:center;
}

/*footer li {
  display: inline;
  margin-right: 30px;
  font-size: 1.2em;
  font-family: sans-serif;
  color: #662d91;
  list-style: none;
}*/

footer p {
  /*  position: absolute;
  top: 140px;
	left: 580px;
right: 10px;
	align-items: center;*/
  color: rgba(83,0,146,1.00);
	font-size:1.2em;
	font-family: sans-serif;
}

#myBtn {
  position: absolute;
  right: 100px;
  top: 50px;
  z-index: 99;
  border: none;
  outline: none;
  background-color: #f1592a;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 10px;
  font-size: 18px;
}

#myBtn:hover {
  background-color: #662d91;
}

.teams {position: absolute;
top:380px;
right:100px;
	border-radius: 15px;}


.container:hover .overlay {
	opacity:1;
	border-radius: 15px;
}

.text { font-family: sans-serif;
	color:#662d91;
	font-size: 50px;
	position:absolute;
	top:50%;
	left: 50%;
	  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}


.overlay {
  position: absolute;
  top: 380px;
  right: 100px;
  width: 550px;
  height: 300px;
  opacity: 0;
  transition: .5s ease;
  background-color: #f1592a;
 cursor: pointer;
line-height: 60px;
}

h2 {
  position: absolute;
  top: 130px;
  right: 250px;
  font-family: sans-serif;
  font-size: 3em;
  color: #f1592a;
  
  animation: slide 2s ease-out;
}

@keyframes slide {
  from {
    right: -100px;
    opacity: 0;
  }
  to {
    right: 250px;
    opacity: 1;
  }
}
@keyframes slideback {
  from {
    right: 250px;
    opacity: 1;
  }
  to {
    right: 0px;
    opacity: 0;
  }
}